hr
 {
  border-style:none;
  border-top-style:dotted;
  border-color:red;
  border-width:7px;
  }
img
{
  height: 350px;
  width: 250px;
}
body
{
background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUtWP269N_c4_Clney2KtPk0CmRzLdrKvO2g&usqp=CAU);
}
h1, h2, h3, h4, h5, h6
{
  font-style: italic;
  font-family: sans-serif;
  color:red;
  color: white;
}
a
{
  color: green;
}
ul
{
  color:gray;
}
